@font-face { font-family: MCFont; src: url('font/Mojangles.ttf'); } 

#header{
	margin-top: 1%;
	margin-right: 1%;
	height: 5vw;
	text-align:	center;
	font-size: 1.3vw;
	font-family: MCFont;
}

#loading{
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
}

.ui>a{
	position: relative;
	float: right;
	color: white;
	padding: 1.5%;
}
.links:hover{
	color: gray;
}
#UI_Header{
	position: absolute;
	top: 2%;
	height: 5vw;
	width: 99%;
}
#UI_Layout, #UI_Layout_front{
	position: absolute;
	width: 70vw;
	height: 38vw;
	margin: 1% 15%;
	
}

.mainButton{
	position: absolute;
	width: 7vw;
	height: 7.5vw;
	margin-left: 77.5vw;
}

canvas{
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -o-crisp-edges;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
	margin: auto;
}

#updateContainer{
	position: absolute;
	width: 57.3vw;
	height: 32vw;
	margin: 2.2% 16.7%;
}
.update{
	width:100%;
	height:100%;
	display: none;
}
.actionBtn{
	display: none;
	position: absolute;
	font-size: 2vw;
	color: white;
	width: 5vw;
	height: 32vw;
	margin: 2.2% 16.7%;
	border-color: rgba(0, 0, 0, .5);
	background-color: rgba(0, 0, 0, .2);
}
.right{
	margin: 2.2% 69.5%;
}

#UI_Content{
	position: absolute;
	width: 70vw;
	height: 38vw;
	margin: 40% 15%;
}

#footer{
	margin-top: 84%;
}